<form id="registerForm">
  <div class="mb-3">
    <input id="registerName" name="name" type="text" class="form-control" placeholder="First name" required />
  </div>

  <div class="mb-3">
    <input id="registerLastName" name="lastname" type="text" class="form-control" placeholder="Last name" required />
  </div>

  <div class="mb-3">
    <input id="registerEmail" name="email" type="email" class="form-control" placeholder="Email" required />
  </div>

  <div class="mb-3">
    <input id="registerPassword" name="password" type="password" class="form-control" placeholder="Password" required />
  </div>

  <div class="mb-3">
    <input name="confirm_password" type="password" class="form-control" placeholder="Confirm password" required />
  </div>

  <button id="registerBtn" type="submit" class="btn btn-primary w-100">Register</button>
</form>
